{
  "include": [
    "packages/*/dist",
    "transports/*/dist",
    "connectors/*/dist"
  ],
  "exclude": [
    "packages/*/dist/__tests__/",
    "transports/*/dist/__tests__/",
    "connectors/*/dist/__tests__/"
  ],
  "extension": [
    ".js",
    ".ts"
  ],
  "reporter": [
    "html"
  ],
  "exclude-after-remap": false
}
